## Load a cvs file and the output is a Pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('advertising_simple.csv')
df.describe()

               TV      Radio  Newspaper      Sales
count    8.000000   8.000000   8.000000   8.000000
mean    73.125000  29.500000  42.500000  11.250000
std     68.059716  17.146428  27.619869   4.334249
min      8.000000   2.000000   1.000000   4.000000
25%     14.750000  16.750000  20.000000   9.250000
50%     50.500000  35.500000  51.500000  11.500000
75%    127.750000  42.000000  60.750000  13.750000
max    180.000000  48.000000  75.000000  17.000000

In [2]:
df

    TV  Radio  Newspaper  Sales
0   44     39         45     10
1   17     45         69     12
2  151     41         58     16
3  180     10         58     17
4    8     48         75      7
5   57     32         23     11
6  120     19         11     13
7    8      2          1      4

## Get columns

In [3]:
series = df['Radio']

In [4]:
type(series)

pandas.core.series.Series

In [5]:
series

0    39
1    45
2    41
3    10
4    48
5    32
6    19
7     2
Name: Radio, dtype: int64

In [6]:
series.to_numpy()

array([39, 45, 41, 10, 48, 32, 19,  2])

In [7]:
series.index

RangeIndex(start=0, stop=8, step=1)

In [8]:
series.name

'Radio'

In [9]:
series.values

array([39, 45, 41, 10, 48, 32, 19,  2])

## Get row

In [10]:
series

0    39
1    45
2    41
3    10
4    48
5    32
6    19
7     2
Name: Radio, dtype: int64

In [11]:
series.loc[3]

10

In [12]:
series.loc[2:5]

2    41
3    10
4    48
5    32
Name: Radio, dtype: int64

In [13]:
series[2:5]

2    41
3    10
4    48
Name: Radio, dtype: int64

In [14]:
series[series>30]

0    39
1    45
2    41
4    48
5    32
Name: Radio, dtype: int64

In [15]:
series[series.between(10, 30)]

3    10
6    19
Name: Radio, dtype: int64

In [16]:
series.to_frame()

   Radio
0     39
1     45
2     41
3     10
4     48
5     32
6     19
7      2

## Another Example

In [17]:
import pandas as pd
import numpy as np

data = pd.Series([4, 7, 1], 
                 name='Programming Language')
data

0    4
1    7
2    1
Name: Programming Language, dtype: int64

In [18]:
data[1.5] = 8
data

0.0    4
1.0    7
2.0    1
1.5    8
Name: Programming Language, dtype: int64

In [19]:
data.sort_index(inplace=True)
data

0.0    4
1.0    7
1.5    8
2.0    1
Name: Programming Language, dtype: int64

In [20]:
data = data.reset_index(drop=True)

In [21]:
data

0    4
1    7
2    8
3    1
Name: Programming Language, dtype: int64