## Create a Series

In [1]:
# Create a Series

import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'], 
                 index=list('CGJPS'), 
                 name='Programming Language')
data

C       C++
G    Golang
J      Java
P    Python
S     Swift
Name: Programming Language, dtype: object

In [2]:
# Dropping an item

data = data.drop('P')

In [3]:
data

C       C++
G    Golang
J      Java
S     Swift
Name: Programming Language, dtype: object

In [5]:
# Get multiple items

data[['C', 'J']]

C     C++
J    Java
Name: Programming Language, dtype: object

In [6]:
data['C':'P']

C       C++
G    Golang
J      Java
Name: Programming Language, dtype: object

In [7]:
result = data[2:4]
result

J     Java
S    Swift
Name: Programming Language, dtype: object

## Insert rows

In [8]:
data

C       C++
G    Golang
J      Java
S     Swift
Name: Programming Language, dtype: object

In [9]:
data['K'] = 'Kotlin'
data

C       C++
G    Golang
J      Java
S     Swift
K    Kotlin
Name: Programming Language, dtype: object

In [10]:
data2 = data.sort_index(inplace=True)
print(data2)

None

## string

In [11]:
data

C       C++
G    Golang
J      Java
K    Kotlin
S     Swift
Name: Programming Language, dtype: object

In [12]:
data.str.count('Java')

C    0
G    0
J    1
K    0
S    0
Name: Programming Language, dtype: int64

In [13]:
data.str.count('a')

C    0
G    1
J    2
K    0
S    0
Name: Programming Language, dtype: int64

In [14]:
data.str.upper()

C       C++
G    GOLANG
J      JAVA
K    KOTLIN
S     SWIFT
Name: Programming Language, dtype: object

In [15]:
data.replace('Java', 'C#')

C       C++
G    Golang
J        C#
K    Kotlin
S     Swift
Name: Programming Language, dtype: object

## Missing values

In [16]:
import pandas as pd
import numpy as np

data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
data

0    1.0
1    6.0
2    3.0
3    8.0
4    NaN
5    7.0
6    NaN
7    2.0
Name: num_dropped, dtype: float64

In [17]:
data.dropna()

0    1.0
1    6.0
2    3.0
3    8.0
5    7.0
7    2.0
Name: num_dropped, dtype: float64

In [18]:
data.fillna(1.0)

0    1.0
1    6.0
2    3.0
3    8.0
4    1.0
5    7.0
6    1.0
7    2.0
Name: num_dropped, dtype: float64

In [19]:
data.interpolate()

0    1.0
1    6.0
2    3.0
3    8.0
4    7.5
5    7.0
6    4.5
7    2.0
Name: num_dropped, dtype: float64

In [20]:
import pandas as pd
import numpy as np

data = pd.Series([1, 6, 3, 8, np.nan, 7, np.nan, 2], name='num_dropped')
data

0    1.0
1    6.0
2    3.0
3    8.0
4    NaN
5    7.0
6    NaN
7    2.0
Name: num_dropped, dtype: float64

In [21]:
# most functions ignore the missing values

data.sum()

27.0

In [22]:
data.min()

1.0

In [23]:
data.max()

8.0

In [24]:
data.mean()

4.5

In [25]:
data.std()

2.8809720581775866

In [26]:
data.idxmax()

3

In [27]:
data.argmax()

3

## Addition between two Series

In [28]:
center1 = pd.Series([12, 23, 31, 11, 9], 
                    index=list(['C++', 'Golang', 'Java', 'Python', 'Swift']), 
                    name='num_registered')
center2 = pd.Series([42, 44, 49, 27], 
                    index=list(['Golang', 'Java', 'Python', 'Swift']), 
                    name='num_registered')
total = center1 + center2
total

C++        NaN
Golang    65.0
Java      75.0
Python    60.0
Swift     36.0
Name: num_registered, dtype: float64

## Example

In [29]:
import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'], name='language')
data

0       C++
1    Golang
2      Java
3    Python
4     Swift
Name: language, dtype: object

In [30]:
data[2.5] = 'C#'
data

0.0       C++
1.0    Golang
2.0      Java
3.0    Python
4.0     Swift
2.5        C#
Name: language, dtype: object

In [31]:
data.sort_index(inplace=True)

In [32]:
data

0.0       C++
1.0    Golang
2.0      Java
2.5        C#
3.0    Python
4.0     Swift
Name: language, dtype: object

In [33]:
data.reset_index(drop=True)

0       C++
1    Golang
2      Java
3        C#
4    Python
5     Swift
Name: language, dtype: object