## Strings

In [1]:
import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'])
data

0       C++
1    Golang
2      Java
3    Python
4     Swift
dtype: object

In [2]:
data.str.count('Java')

0    0
1    0
2    1
3    0
4    0
dtype: int64

In [3]:
data.str.upper()

0       C++
1    GOLANG
2      JAVA
3    PYTHON
4     SWIFT
dtype: object

In [4]:
data.replace('Java', 'C#')

0       C++
1    Golang
2        C#
3    Python
4     Swift
dtype: object

## Group by

In [5]:
import pandas as pd
import numpy as np

data = pd.Series([4, 1, 0, 2, 2, 1], 
                 index=list(['C++', 'Golang', 'Java', 'Python', 'Swift', 'C#']), 
                 name='num_dropped')
data

C++       4
Golang    1
Java      0
Python    2
Swift     2
C#        1
Name: num_dropped, dtype: int64

In [6]:
import pandas as pd
import numpy as np

data = pd.Series([4, 1, 0, 2, 2, 1], 
                 index=list(['C++', 'Golang', 'Java', 'Golang', 'Java', 'C++']), 
                 name='num_dropped')
data

C++       4
Golang    1
Java      0
Golang    2
Java      2
C++       1
Name: num_dropped, dtype: int64

In [7]:
data['C++'].sum()

5

In [8]:
data['Golang']

Golang    1
Golang    2
Name: num_dropped, dtype: int64

In [9]:
data['Java']

Java    0
Java    2
Name: num_dropped, dtype: int64

In [10]:
print(data['C++'].sum())
print(data['Golang'].sum())
print(data['Java'].sum())

5
3
2

In [11]:
data.groupby(level=0).sum()

C++       5
Golang    3
Java      2
Name: num_dropped, dtype: int64

In [12]:
data.groupby(data>3).sum()

num_dropped
False    6
True     4
Name: num_dropped, dtype: int64

## MultiIndex (optional)

In [13]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, 
                                  names=('Animal', 'Type'))
ser = pd.Series([390., 350., 30., 20.], 
                index=index, 
                name="Max Speed")
ser

Animal  Type
Falcon  Captive    390.0
        Wild       350.0
Parrot  Captive     30.0
        Wild        20.0
Name: Max Speed, dtype: float64

In [14]:
ser.groupby(level=0).sum()

Animal
Falcon    740.0
Parrot     50.0
Name: Max Speed, dtype: float64

In [15]:
ser.groupby(level="Type").mean()

Type
Captive    210.0
Wild       185.0
Name: Max Speed, dtype: float64

In [16]:
ser.groupby(level=1).sum()

Type
Captive    420.0
Wild       370.0
Name: Max Speed, dtype: float64

In [17]:
ser.index

MultiIndex([('Falcon', 'Captive'),
            ('Falcon',    'Wild'),
            ('Parrot', 'Captive'),
            ('Parrot',    'Wild')],
           names=['Animal', 'Type'])